.card {
  max-width: 413px;
  height: 445px;
}

.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 4%;
}

.card__content {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

.card__title {
  margin: 0;
  padding: 0;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0.4;
}

.card__like-button:hover {
  opacity: 1;
}
