.cards {
  padding-top: 20px;
  max-width: 1280px;
  border-bottom: 1px rgba(33, 33, 3, 0.4) solid;
}

.cards__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
  gap: 40px 20px;
}
