.footer {
  display: flex;
  padding-bottom: 60px;
  margin-top: 60px;
  justify-content: center;
}

.footer__title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: rgba(33, 33, 33, 0.7);
}
