.modal {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
  max-width: 730px;
  width: 100%;

  gap: 32px;
  border-radius: 8px;
  padding: 32px 50px;
}

.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0.4;
  background-image: url("../images/close-Icon.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.modal__title {
  margin: 0;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  font-weight: 500;
  font-size: 16px;
  color: rgba(33, 33, 33, 0.7);
  margin: 0;
}

.modal__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  margin-top: 8px;
  margin-bottom: 32px;
  border-width: 1px;
  padding: 16px 12px;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__save-button {
  max-width: 156px;
  height: 52px;
  border: none;
  border-radius: 8px;
  background: #212121;
  color: #fcf5e5;
  font-size: 16px;
}

@media screen and (max-width: 627px) {
  .modal__title {
    font-size: 20px;
  }
  .modal__save-button {
    max-width: 100%;
    height: 52px;
  }
}
