.profile {
  display: flex;
  gap: 20px;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  width: 190px;
  height: 190px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  max-width: 420px;
}

.profile__name {
  margin: 0 0 12px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 32px;
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  color: rgba(33, 33, 33, 0.7);
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-button {
  margin-top: auto;
  width: 108px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #212121;
  opacity: 0.7;
  font-weight: 500;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 100%;
}

.profile__add-button {
  background-color: rgba(33, 33, 33, 1);
  color: #fcf5e5;
  margin-left: auto;
  margin-top: auto;
  width: 149px;
  height: 52px;
  padding: 0;
  border-radius: 8px;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    gap: 0;
    height: 274px;
    align-items: center;
    text-align: center;
  }

  .profile__avatar {
    height: 80px;
    width: 80px;
    margin-bottom: 12px;
  }

  .profile__column {
    align-items: center;
  }

  .profile__edit-button {
    margin-top: 32px;
  }

  .profile__add-button {
    margin: 20px 0 0;
    width: 100%;
  }
  .profile__name {
    max-width: 282px;
    font-size: 20px;
  }
  .profile__description {
    max-width: 282px;
    font-size: 16px;
  }
}
